* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.playHere {
    display: grid;
    width: fit-content;
    height: fit-content;
    grid-template-columns: repeat(10, auto);
}

.block {
    display: flex;
    width: 69px;
    height: 69px;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    border: 2px solid lightsteelblue;
    transition: background 0.2s ease-in-out;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
}

.playHere2 {
    display: grid;
    grid-template-columns: repeat(10, auto);
    margin-left: 30px;
}

.block:hover {
    cursor: pointer;
}

.duelZone {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: max-content;
}

.userGuide {
    display: flex;
    flex-direction: row;
}

.aiName {
    margin-left: 690px;
}

.sub {
    background-color: gray;
    display: flex;
    height: 69px;
    width: 207px;
    border-radius: 7px;
}

.carri {
    background-color: gray;
    display: flex;
    height: 69px;
    width: 345px;
    border-radius: 7px;
}

.destroy {
    background-color: gray;
    display: flex;
    height: 69px;
    width: 138px;
    border-radius: 7px;
}

.cruise {
    background-color: gray;
    display: flex;
    height: 69px;
    width: 207px;
    border-radius: 7px;
}

.battle {
    background-color: gray;
    display: flex;
    height: 69px;
    width: 276px;
    border-radius: 7px;
}

.shiptTrans {
    display: flex;
    flex-direction: column;
}

.playHere .block:hover {
    cursor: default;
}

.dragging {
    opacity: .5;
}

.vert-shipTrans {
    display: flex;
    flex-direction: row;
}

.vert-sub {
    background-color: gray;
    display: flex;
    width: 69px;
    height: 207px;
    border-radius: 7px;
}

.vert-carri {
    background-color: gray;
    display: flex;
    width: 69px;
    height: 345px;
    border-radius: 7px;
}

.vert-destroy {
    background-color: gray;
    display: flex;
    width: 69px;
    height: 138px;
    border-radius: 7px;
}

.vert-cruise {
    background-color: gray;
    display: flex;
    width: 69px;
    height: 207px;
    border-radius: 7px;
}

.vert-battle {
    background-color: gray;
    display: flex;
    width: 69px;
    height: 276px;
    border-radius: 7px;
}

.rotate {
    width: 100px;
    height: 69px;
    border-radius: 7px;
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
    color: white;
}

.start {
    width: 100px;
    height: 69px;
    border-radius: 7px;
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
    color: white;
}

.boom {
    background: red;
}

.miss {
    background: yellow;
}

.playHere .took {
    background: grey;
}